[build-system]
requires = ["setuptools>=45", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "backend"
version = "1.0.0"
requires-python =">=3.10,<3.13"
dependencies = []

[tool.setuptools.packages.find]
where = ["src"]
